# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="db.sqlite"

# Global OpenAI key
OPENAI_API_KEY="example-api-key"

# Modal
MODAL_USER="example-user"
MODAL_ENV="example-env"
MODAL_ROUTER_APP="example-app"
MODAL_ROUTER_AUTH_TOKEN="example-auth-token"

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="example-pk"
CLERK_SECRET_KEY="example-sk"
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/